---
layout: default
---

<div class="tp-banner-container">
  <div class="tp-banner" >
    <ul>

      <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">

        <img src="//assetstdnext.s3.amazonaws.com/img/bg-flower.jpg"  alt=""  data-bgfit="cover" data-bgposition="bottom center" data-bgrepeat="no-repeat">
          <h1 class="tp-caption hero-title text-uppercase extralight" data-x="94" data-y="246">TD next</h1>

          <h2 class="tp-caption hero-subtitle normal bg-primary-color" data-x="94" data-y="433">Solution provider for Internet of Things</h2>

        <div class="tp-caption" data-x="680" data-y="166">
          <img src="//assetstdnext.s3.amazonaws.com/img/mascot.png" alt="TD next mascot">
        </div>
      </li>
    </ul>
  </div>
</div>


{% include about.html %}
{% include who_we_are.html %}
{% include innovations.html %}
{% include team.html %}
{% include expertise.html %}
{% include offers.html %}
{% include partners.html %}
