<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 col-offers text-center marketing">
        <img class="img-responsive img-circle marketing-img img-center" alt="Test tube icon for innovation" src="//assetstdnext.s3.amazonaws.com/img/who-we-are@2x.png">
        <h2 class="marketing-heading text-uppercase">Who we are</h2>
        <p class="marketing-description">TD next is the technological B.U of Telecom Design</p>
        <a class="btn btn-brand btn-m page-scroll" href="#who_we_are" role="button">Learn more</a>
      </div>
      <div class="col-sm-6 col-md-3 col-offers text-center marketing"> <img class="img-responsive img-circle marketing-img img-center" src="//assetstdnext.s3.amazonaws.com/img/success-story@2x.png" alt="Light bulb icon for the success story">
        <h2 class="marketing-heading text-uppercase">Success story</h2>
        <p class="marketing-description">TD next has been a key player in IoT/M2M for over 15 years.</p>
        <a class="btn btn-brand btn-m page-scroll" href="#success_story" role="button">Learn more</a>
      </div>
      <div class="col-sm-6 col-md-3 col-offers text-center marketing"> <img class="img-responsive img-circle marketing-img img-center" src="//assetstdnext.s3.amazonaws.com/img/team@2x.png" alt="Character icon for the team">
        <h2 class="marketing-heading text-uppercase">Team</h2>
        <p class="marketing-description">Our team is composed of 45 people and most are engineers.</p>
        <a class="btn btn-brand btn-m page-scroll" href="#team" role="button">Learn more</a>
      </div>
      <div class="col-sm-6 col-md-3 col-offers text-center marketing"> <img class="img-responsive img-circle marketing-img img-center" src="//assetstdnext.s3.amazonaws.com/img/expertise%402x.png" alt="Magnifying glass for the expertise">
        <h2 class="marketing-heading text-uppercase">Expertise</h2>
        <p class="marketing-description">We master every component of an IoT technology stack.</p>
        <a class="btn btn-brand btn-m page-scroll" href="#expertise" role="button">Learn more</a>
      </div>
    </div>
  </div>
</section>
