<section id="expertise">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading section-heading-brand">Our expertise</h2>
        <h3 class="section-subheading">We focus on Internet of Things technologies, with continuous innovations. We provide advanced features for Sigfox network.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3 col-sm-6 text-center skills"> <img class="img-responsive img-circle skills-img img-center" src="//assetstdnext.s3.amazonaws.com/img/sigfox-butterfly%402x.png" alt="Sigfox butterfly icon">
        <h3 class="skills-heading">Sigfox network</h3>
        <p class="skills-description hidden-xs">TD next has been a pionneer in the Sigfox certified RF modules development. Currently, we provide the largest module range of the market.</p>
      </div>
      <div class="col-xs-6 col-md-3 col-sm-6 text-center skills"> <img class="img-responsive img-circle skills-img img-center" src="//assetstdnext.s3.amazonaws.com/img/wireless%402x.png" alt="Wireless icon">
        <h3 class="skills-heading">Wireless</h3>
        <p class="skills-description hidden-xs">Sigfox UNB, ISM low energy, Bluetooth low energy, Wifi…</p>
      </div>
      <div class="clearfix visible-xs-block visible-sm-block"></div>
      <div class="col-xs-6 col-md-3 col-sm-6 text-center skills"> <img class="img-responsive img-circle skills-img img-center" src="//assetstdnext.s3.amazonaws.com/img/sensor%402x.png" alt="Sensor icon">
        <h3 class="skills-heading">Sensors</h3>
        <p class="skills-description hidden-xs">GPS, accelerometer, pressure, video, motion, smoke, air quality, temperature…</p>
      </div>
      <div class="col-xs-6 col-md-3 col-sm-6 text-center skills"> <img class="img-responsive img-circle skills-img img-center" src="//assetstdnext.s3.amazonaws.com/img/smartphone%402x.png" alt="Smartphone icon">
        <h3 class="skills-heading">Web & mobile apps</h3>
        <p class="skills-description hidden-xs">We can provide turnkey solutions including device monitoring with dashboards or high-end consumer applications.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3 col-sm-6 text-center skills"> <img class="img-responsive img-circle skills-img img-center" src="//assetstdnext.s3.amazonaws.com/img/electronic-design%402x.png" alt="Electronic design icon">
        <h3 class="skills-heading">Electronic designs</h3>
        <p class="skills-description hidden-xs">TD next has been using the most advanced designing tools in order to optimize the Bill Of Material and to reach the best quality level for the device.</p>
      </div>
      <div class="col-xs-6 col-md-3 col-sm-6 text-center skills"> <img class="img-responsive img-circle skills-img img-center" src="//assetstdnext.s3.amazonaws.com/img/rf-design%402x.png" alt="Antenna icon">
        <h3 class="skills-heading">RF designs</h3>
        <p class="skills-description hidden-xs">A cutting-edge expertise in designing high quality antennas for the most various devices.</p>
      </div>
      <div class="clearfix visible-xs-block visible-sm-block"></div>
      <div class="col-xs-6 col-md-3 col-sm-6 text-center skills"> <img class="img-responsive img-circle skills-img img-center" src="//assetstdnext.s3.amazonaws.com/img/telecom-protocols%402x.png" alt="Protocol icon">
        <h3 class="skills-heading">Telecom Protocols</h3>
        <p class="skills-description hidden-xs">A strong expertise in major telecom protocols either wireless or wired.</p>
      </div>
      <div class="col-xs-6 col-md-3 col-sm-6 text-center skills"> <img class="img-responsive img-circle skills-img img-center" src="//assetstdnext.s3.amazonaws.com/img/certification%402x.png" alt="Quality icon">
        <h3 class="skills-heading">Certifications</h3>
        <p class="skills-description hidden-xs">TD next has always paid a great attention in the quality of its products. Dozens of telecom and security approvals have been successfully passed all around the world (CE, FCC, …).</p>
      </div>
    </div>
  </div>
</section>
