<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#"><img class="img-responsive footer-logo" src="https://s3-eu-west-1.amazonaws.com/assetstdnext/img/tdnext-logo-white@2x.png"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-3">
            <h4 class="footer-header">TD next</h4>
            <ul class="list-unstyled footer-links">
              <li><a target=_blank href="http://www.tdnext.info">A project?</a></li>
              <li><a target=_blank href="http://community.td-next.com">Community</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
            <h4 class="footer-header">Offers</h4>
            <ul class="list-unstyled footer-links">
              <li><a target=_blank href="http://rfmodules.td-next.com">Sigfox RF modules</a></li>
              <li><a target=_blank href="http://www.cloudonchip.fr">Cloud on Chip<sup>TM</sup></a></li>
              <li><a  target=_blank href="http://cammodules.td-next.com">Camera modules</a></li>
            </ul>
          </div>

          <div class="clearfix visible-xs-block visible-sm-block"></div>

          <div class="col-xs-6 col-sm-6 col-md-3">
            <h4 class="footer-header">Connect</h4>
            <ul class="list-unstyled footer-links">
              <li><a target=_blank href="https://twitter.com/td_next"><i class="fa fa-twitter fa-footer-connect"></i> Twitter</a></li>
              <li><a target=_blank href="https://www.linkedin.com/company/td-next
"><i class="fa fa-linkedin fa-footer-connect"></i> Linkedin</a></li>
              <li><a target=_blank href="http://www.viadeo.com/fr/company/td-next
"><i class="fa fa-viadeo fa-footer-connect"></i> Viadeo</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-3">
            <h4 class="footer-header">Contact</h4>
            <address>
              Zone Actipolis II<br>
              2, bis rue Nully de Harcourt<br>
              33610 CANEJAN (FRANCE)<br>
              <a href="mailto:contact@td-next.com">contact@td-next.com</a><br>
              +33 (0) 5 57 35 63 70
            </address>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>&copy;Telecom Design 2015 • <a href="{{site.url}}/legals/">Legal notices</a> •</p>
      </div>
    </div>
  </div>
</div>
</footer>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//assetstdnext.s3.amazonaws.com/js/jquery.retina.min.js"></script>
  <script src="//assetstdnext.s3.amazonaws.com/js/jquery.tdnext.min.js"></script>
  <script type="text/javascript" src="//assetstdnext.s3.amazonaws.com/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="//assetstdnext.s3.amazonaws.com/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

  <script type="text/javascript">
    jQuery(document).ready(function() {
         jQuery('.tp-banner').revolution(
        {
          dottedOverlay:"none",
          delay:16000,
          startwidth:1170,
          startheight:696,
          hideThumbs:200,

          thumbWidth:100,
          thumbHeight:50,
          thumbAmount:5,

          navigationType:"bullet",
          navigationArrows:"solo",
          navigationStyle:"preview2",

          touchenabled:"on",
          onHoverStop:"on",

          swipe_velocity: 0.7,
          swipe_min_touches: 1,
          swipe_max_touches: 1,
          drag_block_vertical: false,

                      parallax:"mouse",
          parallaxBgFreeze:"on",
          parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

          keyboardNavigation:"off",

          navigationHAlign:"center",
          navigationVAlign:"bottom",
          navigationHOffset:0,
          navigationVOffset:20,

          soloArrowLeftHalign:"left",
          soloArrowLeftValign:"center",
          soloArrowLeftHOffset:20,
          soloArrowLeftVOffset:0,

          soloArrowRightHalign:"right",
          soloArrowRightValign:"center",
          soloArrowRightHOffset:20,
          soloArrowRightVOffset:0,

          shadow:0,
          fullWidth:"on",
          fullScreen:"off",

          spinner:"spinner4",

          stopLoop:"off",
          stopAfterLoops:-1,
          stopAtSlide:-1,

          shuffle:"off",

          autoHeight:"off",
          forceFullWidth:"off",



          hideThumbsOnMobile:"off",
          hideNavDelayOnMobile:1500,
          hideBulletsOnMobile:"off",
          hideArrowsOnMobile:"off",
          hideThumbsUnderResolution:0,

          hideSliderAtLimit:0,
          hideCaptionAtLimit:0,
          hideAllCaptionAtLilmit:0,
          startWithSlide:0,
          fullScreenOffsetContainer: ""

        });
    });
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68018109-1', 'auto');
  ga('send', 'pageview');

</script>
