<section id="success_story">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading section-heading-brand">TD next, a pioneer in well-known innovations</h2>
        <h3 class="section-subheading">TD next has over 15 years experience in developing M2M or IoT projects</h3>

        <ul class="timeline">
          <li>
          <div class="timeline-image"> <img class="img-circle img-responsive" src="//assetstdnext.s3.amazonaws.com/img/pc-card%402x.png" alt="PC card"> </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-date">1996-2000</h4>
                <h4 class="subheading">Atlantic network systems</h4>
              </div>
              <div class="timeline-body">
                  <p class="text-muted medium">External multi connect dongles for laptops (PSTN, ISDN, LAN, GSM DATA). 500K units sold / $M12 (2000)!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image"> <img class="img-circle img-responsive" src="//assetstdnext.s3.amazonaws.com/img/gps%402x.png" alt="GPS"> </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-date">2001-2005</h4>
                  <h4 class="subheading">Kirrio<sup>TM</sup></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted medium">GPS car kits & GPS PND. 500K units sold / $M50 (2005)</p>
                  <p class="text-muted">Kirrio<sup>TM</sup> has been one of the central players behind the emergence of GPS navigation for the consumer market. Major stakeholders such as Palm and HP have adopted the Kirrio technology and products, before it was acquired by Michelin Group in 2005.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image"> <img class="img-circle img-responsive" src="//assetstdnext.s3.amazonaws.com/img/water%402x.png" alt="Tap water"> </div>
                <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-date">2000-2009</h4>
                  <h4 class="subheading">Homerider systems</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted medium">Global AMR solution for meters, tanks, containers. Sold $M15 (2009)</p>
                  <p class="text-muted">This truly technologically challenging project enabled a large-scale deployment of low consumption cellular urban networks in order to control water meters, waste containers and billboards...the Smart City was born! Homerider was acquired by Veolia in 2009</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image"> <img class="img-circle img-responsive" src="//assetstdnext.s3.amazonaws.com/img/iot%402x.png" alt="IoT tactile screen"> </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-date">2011-today</h4>
                  <h4 class="subheading">First partnership with SIGFOX</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted medium">Sigfox RF modules and Cloud on Chip<sup>TM</sup> technology</p>
                  <p class="text-muted">TD next realized that existing IoT solutions came up against several key issues: the complexity of implementation, cost & energy consumption. Those obstacles prevented billion passive objects from being connected and used by high-end consumers. However, TD next developped a technology to overcome those issues, by relying on a strong strategic partnership with SIGFOX, 1<sup>st</sup> UNB network for IoT.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                  <h4>WE <br>
                    KEEP <br>
                    INNOVATING</h4>
              </div>
            </li>
            <img class="img-responsive timeline-light-bulb" src="//assetstdnext.s3.amazonaws.com/img/light-bulb%402x.png">
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <img class="img-responsive timeline-mascot" src="//assetstdnext.s3.amazonaws.com/img/mascot-timeline%402x.png">
      </div>
    </div>
  </div>
</section>
