<nav class="navbar navbar-default navbar-fixed-top menu-base menu-brand">
  <div class="container">
    <div class="navbar-header"> <a class="navbar-toggle collapsed nav-brand-toggle" data-toggle="collapse" data-target="#main-menu-collapse" aria-expanded="false"> <i class="fa fa-bars fa-2x"></i> </a> <a class="navbar-brand logo" href="{{site.url}}/"><img class="img-responsive logo-img" src="//assetstdnext.s3.amazonaws.com/img/tdnext-logo@2x.png" alt="Logo of TD next"></a> </div>
    <div class="collapse navbar-collapse" id="main-menu-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="#about">About us</a></li>
        <li><a class="page-scroll" href="#offers">Offers</a></li>
        <li><a class="page-scroll" href="#partners">Partners</a></li>
        <li><a target=_blank  href="http://www.tdnext.info">Contact</a></li>
        <li><a class="page-scroll" href="https://twitter.com/td_next"><i class="fa fa-twitter"></i> @td_next</a></li>
      </ul>
    </div>
  </div>
</nav>
