<section id="offers" class="bg-second-color">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading section-heading-inverse" >3<span class="primary-color">/</span>Offers</h2>
        <h3 class="section-subheading section-subheading-inverse" >We provide turnkey offers and solutions to fit your business needs. We work with prestigious partners like <span class="primary-color semibold">Sigfox</span> or <span class="primary-color semibold">Avnet Memec</span>.</h2>
      </div>
    </div>
    <div class"row">
      <div class="col-xs-12 col-sm-6 col-md-4 offers text-center"> <img class="img-responsive offers-num offers-img img-center" src="//assetstdnext.s3.amazonaws.com/img/num-1%402x.png">
        <img class="img-responsive offers-diagram offers-img img-center" src="//assetstdnext.s3.amazonaws.com/img/sigfox-rfmodules%402x.png" alt="Sigfox module icon with applications around">
        <div class="offers-circle"> <!--<img id="sigfox-logo" class="img-responsive offers-img hidden-xs style="position:absolute; top:0" src="img/logo-sigfox.png">-->
          <div class="offers-circle-inner">
            <div class="offers-circle-wrapper">
              <div class="offers-circle-content">
                <h3 class="offers-header">Sigfox RF modules</h3>
                <p class="offers-description">The 1<sup>st</sup> Sigfox certified module range for connecting everything with very low consumption.</p>
                <a target=_blank href="http://rfmodules.td-next.com" type="button" class="btn btn-brand btn-m">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 offers text-center"> <img class="img-responsive offers-num offers-img img-center" src="//assetstdnext.s3.amazonaws.com/img/num-2%402x.png">
        <img class="img-responsive offers-diagram offers-img img-center" src="//assetstdnext.s3.amazonaws.com/img/cloudonchip%402x.png" alt="Cloud on Chip picture with Sigfox butterfly">
        <div class="offers-circle">
          <div class="offers-circle-inner">
            <div class="offers-circle-wrapper">
              <div class="offers-circle-content">
                <h3 class="offers-header">Cloud on Chip<sup>TM</sup></h3>
                <p class="offers-description">A powerful solution for Internet of Things using our Sigfox certified modules and our cloud applications.</p>
                <a target=_blank href="http://www.cloudonchip.fr" type="button" class="btn btn-brand btn-m">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 offers text-center"> <img class="img-responsive offers-num offers-img img-center" src="//assetstdnext.s3.amazonaws.com/img/num-3%402x.png">
        <img class="img-responsive offers-diagram offers-img img-center" src="//assetstdnext.s3.amazonaws.com/img/cammodules%402x.png" alt="Webcam picture with applications around">
        <div class="offers-circle">
          <div class="offers-circle-inner">
            <div class="offers-circle-wrapper">
              <div class="offers-circle-content">
                <h3 class="offers-header">Camera modules</h3>
                <p class="offers-description">High quality & cost effective pin to pin compatible camera modules for Security & Access Control applications.</p>
                <a target=_blank href="http://cammodules.td-next.com" type="button" class="btn btn-brand btn-m">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
