<section id="team" class="plus-collapse plus-collapse-normal plus-collapse-inverse bg-second-color">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading section-heading-inverse">Our amazing team</h2>
        <h3 class="section-subheading section-subheading-inverse">Our team is composed of 45 people. Most of them are hardware or software engineers working together to provide the best solutions as possible.</h3>
      </div>
    </div>
    <div class="plus-img">
      <a href="#collapse-team" data-toggle="collapse"  aria-expanded="false" aria-controls="collapseExample"  class="plus-img-link"></a>
    </div>
  </div>
</section>
<div class="bg-second-color-light collapse" id="collapse-team">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <section>
            <img class="img-responsive img-rounded" style="margin:auto; width:60%;" src="//assetstdnext.s3.amazonaws.com/img/td-team.jpg" alt="Our team">
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
