<section id="who_we_are" class="plus-collapse plus-collapse-astride">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading section-heading-brand">Who we are</h2>
        <h3 class="section-subheading">TD next is the technological B.U of Telecom Design, a company situated in Bordeaux.<br>We develop, industrialize & commercialize IoT modules and solutions <br>for all sorts of businesses.</h3>
      </div>
    </div>
    <div class="plus-img">
      <a href="#collapse-about" data-toggle="collapse"  aria-expanded="false" aria-controls="collapseExample"  class="plus-img-link"></a>
    </div>
  </div>
</section>
<div class="bg-second-color-light collapse" id="collapse-about">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <section class="text-center">
            <ul class="clients list-unstyled list-inline">
              <li><a id="actaris" href="#"></a></li>
              <li><a id="bosch" href="#"></a></li>
              <li><a id="chubb" href="#"></a></li>
              <li><a id="covea" href="#"></a></li>
              <li><a id="edf" href="#"></a></li>
              <li><a id="europ" href="#"></a></li>
              <li><a id="honeywell" href="#"></a></li>
              <li><a id="ingenico" href="#"></a></li>
            </ul>
            <ul class="clients list-unstyled list-inline">
              <li><a id="intervox" href="#"></a></li>
              <li><a id="maaf" href="#"></a></li>
              <li><a id="mei" href="#"></a></li>
              <li><a id="mondial" href="#"></a></li>
              <li><a id="neopost" href="#"></a></li>
              <li><a id="pitney" href="#"></a></li>
              <li><a id="presence_verte" href="#"></a></li>
              <li><a id="securitas" href="#"></a></li>
            </ul>
            <ul class="clients list-unstyled list-inline">
              <li><a id="thales" href="#"></a></li>
              <li><a id="tokheim" href="#"></a></li>
              <li><a id="tunstall" href="#"></a></li>
              <li><a id="veolia" href="#"></a></li>
              <li><a id="verifone" href="#"></a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
