
.hero-title {
  margin:0;
  color:#ffffff;
  @include font-size(170px);
  font-weight:200;
}

.hero-subtitle {
  margin:0;
  padding:10px 20px;
  display:inline-block;
  color:#ffffff;
  @include font-size(40px);
  border-radius:50px;
}


/*AJUST RESPONSIVE COLS*/
.marketing {
  margin-bottom:1.563em;
  &:last-child {
    margin-bottom:0;
  }
}

@media (min-width: 768px)
  {
    .marketing:nth-last-child(2){
      margin-bottom:0;
    }
  }

@media (min-width: 992px) {
    .marketing {margin-bottom:0;}
}

.offers {
  margin-bottom:1.563em;
  &:last-child {
    margin-bottom:0;
  }
}

@media (min-width: 992px) {
    .offers {margin-bottom:0;}
}




.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

@media (max-width:767px){

    .timeline-light-bulb {
      display:none;
    }

    .timeline-mascot {
      display:none;
    }
}

@media (min-width:768px){
    .timeline-light-bulb {
      position:absolute;
      max-width:185px;
      width:100%;
      left:50%;
      margin-left:-5.656em;
      bottom:-2.250em;
    }

    .timeline-mascot {
      position:relative;
      max-width:212.3px;
      width:100%;
      top:-4.750em;
      left:50%;
      margin-left:-11.787em;
    }
}

@media (min-width:992px){

  .timeline{
    .timeline-light-bulb {
      position:absolute;
      max-width:278px;
      width:100%;
      left:50%;
      margin-left:-8.438em;
      bottom:-3.375em;
    }
  }

    .timeline-mascot {
      position:relative;
      max-width:318.5px;
      width:100%;
      top:-4.063em;
      left:50%;
      margin-left:-17.644em;
    }
}

@media (min-width:1200px){

  .timeline{
    .timeline-light-bulb {
      position:absolute;
      max-width:315px;
      width:100%;
      left:50%;
      margin-left:-9.594em;
      bottom:-3.813em;
    }
  }

    .timeline-mascot {
      position:relative;
      max-width:361px;
      width:100%;
      top:-3.750em;
      left:50%;
      margin-left:-20em;
    }
}
